.app-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
}

.app-logo {
  height: 50px;
  margin-right: 20px;
}

.app-title {
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #61dafb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  padding: 20px;
}